body {
  font-family: "Montserrat";
}

nav {
  background-color: #6495ed;
}

nav.dark-mode {
  background-color: #3d598e;
}

nav li {
  font-size: 1.1rem;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato";
  font-weight: 700;
}

.navbar-brand {
  font-size: 1.8rem;
  margin-left: 1%;
}

.big-heading {
  font-size: 4.8rem;
  margin: 3% 0;
}

.heading-subtitle {
  margin: 0 0 3%;
}

.contact-heading {
  font-size: 3rem;
  margin: 0 0 3%;
}

.hover-transition {
  transition: color 0.2s;
}

.profile-img {
  border-radius: 100%;
  width: 30%;
}

@media (max-width: 762px) {
  .profile-img {
    width: 230px;
  }
}

.header-subtitle {
  line-height: 2;
  margin: 4% 0 2%;
}

.section-heading {
  font-size: 3.5rem;
  margin: 0 0 7%;
}

.download-link:hover {
  text-decoration: none;
}

.dark-mode.download-btn {
  background-color: #3d598e !important;
  border-color: #3d598e;
}

.dark-mode.download-btn:hover {
  background-color: #2b3e61 !important;
  border-color: #2b3e61 !important;
}

.dark-mode-btn {
  background-color: transparent;
  position: fixed;
  top: 93%;
}

.dark-mode {
  color: white;
}

.dark-mode.white-section {
  background-color: #565656;
}

.white-section {
  transition: all 0.5s;
}

.dark-mode.colored-section {
  background-color: #3d598e !important;
  transition: all 0.5s;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

#header .btn-info {
  background-color: #6495ed;
}

#header .btn-info:hover {
  background-color: #4273cb;
  border-color: #4273cb;
}

#header {
  color: #565656;
  padding: 1.5% 15%;
  text-align: center;
}

/* Skills  */

#skills {
  background-color: #6495ed;
  color: white;
  text-align: center;
  padding: 5% 10%;
}

#skills h3 {
  font-weight: 500;
}

.skill-img {
  height: 128px;
  margin-bottom: 15px;
  transition: transform 0.5s;
}

.skill-img:hover {
  transform: translateY(-10px);
}

.skill-desc {
  font-size: 1.2rem;
}

.skill-col {
  padding: 0 2%;
}

@media (max-width: 1028px) {
  .skill-col {
    padding: 7% 7%;
  }
}

/* Portfolio */

#portfolio {
  text-align: center;
  padding: 5% 15%;
}

.portfolio-link {
  color: black;
}

.portfolio-link:hover {
  color: #acacac;
  text-decoration: none;
}

.dark-mode.card-body:hover {
  color: #acacac !important;
  text-decoration: none;
}

.card-header.dark-mode {
  background-color: #676767;
}

.card-body.dark-mode {
  background-color: #787878;
}

@media (max-width: 1028px) {
  .card {
    margin: 5% 0;
  }
}

/* Contact  */

#contact {
  background-color: #6495ed;
  color: white;
  padding: 3% 15% 5%;
  text-align: center;
}

#contact .section-heading {
  margin: 0 0 3%;
}

@media (max-width: 600px) {
  #contact .section-heading {
    margin-bottom: 20px;
  }
}

#contact i {
  color: white;
  margin: 0 3%;
}

#contact i:hover {
  color: #acacac;
}
